.sneetches-height {
  height: 200px;
}

.sneetches-both {
  height: 200px;
  width: 300px;
}

.sneetch-div-container {
  background: red;
  width: 220px;
  margin: 0 auto;

  img {
    width: 50%;
  }
}

.sneetch-half-container {
  background: red;
  width: 50%;
  margin: 0 auto;

  img {
    width: 50%;
  }
}