.ocean-beach {
  background-image: url("https://storage.googleapis.com/john-hess/ob-sf.jpg" );
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 1;

  .name, .dev {
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
  }

  .name {
    top: 130px;
    font-size: 10em;
    font-weight: bold;
  }

  .dev {
    top: 340px;
    font-size: 2em;
  }
}


.main-content {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 799px;
  background-image: linear-gradient(#DDE9F4, #FFAF85, #00679E);

  img {
    border-radius: 50%;
    width: 10%;
  }
}