.ocean-beach {
  background: url("https://storage.googleapis.com/john-hess/ob-sf.jpg") center center no-repeat;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;

  .name, .dev, .links-container {
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
  }

  .name {
    top: 90px;
    font-size: 10em;
    font-weight: bold;
  }

  .dev {
    top: 270px;
    font-size: 2em;
  }

  .links-container {
    top: 350px;

    .links {
      margin: 0 auto;
      border: 5px solid white;
      width: 500px;
      height: 150px;
      display: flex;
      justify-content: space-around;

      a.btn {
        margin: auto 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        font-size: 60px;
        line-height: 85px;
        color: $chalkboard;
        border: 3px solid $chalkboard;

        i {
          margin: auto auto;
        }

        &:hover {
          background-color: $tan;
          color: white;
          border: 3px solid white;
        }
      }
    }
  }

  @include media-query($bootstrap-xs) {
    height: 700px;

    .name {
      top: 100px;
      font-size: 4em;
    }

    .dev {
      top: 180px;
      font-size: 1.5em;
    }

    .links-container {
      top: 250px;

      .links {
        width: 210px;
        height: 80px;
        display: flex;
        justify-content: space-around;

        a.btn {
          width: 50px;
          height: 50px;
          font-size: 25px;
          line-height: 33px;
        }
      }
    }
  }
}


