.ocean-beach {
  background: url("https://storage.googleapis.com/john-hess/ob-sf.jpg") center center no-repeat;
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  z-index: 1;

  .name, .dev {
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
  }

  .name {
    top: 130px;
    font-size: 10em;
    font-weight: bold;
  }

  .dev {
    top: 340px;
    font-size: 2em;
  }

  a {
    border: 1px solid red;
    border-radius: 50%;
    height: 40px;
  }

  @include media-query($bootstrap-xs) {
    background: url("https://storage.googleapis.com/john-hess/ob-sf-mobile.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .name {
      top: 130px;
      font-size: 5em;
      font-weight: bold;
    }

    .dev {
      top: 250px;
      font-size: 1em;
    }
  }
}


