.portfolio-container {
  margin-top: $nav-offset;
  background-color: $chalkboard;

  .header {
    text-align: center;
    color: $tan;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', sans-serif;
    margin-top: 2%;
  }

  .image-rotator {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    // background-attachment: fixed;
    margin-bottom: 2%;
  }

  .portfolio-info {
    text-align: center;
    margin-bottom: 4%;

    .info-header {
      color: $tan;
      font-weight: bold;
      font-size: 2em;
    }

    .info-content {
      text-align: left;
      color: white;
      font-family: 'Domine', sans-serif;
    }
  }

  .buttons {
    text-align: center;

    a {
      margin: 0 2%;
      border-radius: 0;
      background-color: $grain;
      border: none;
      width: 75px;
      padding: 15px 0;

      // span {
      //   margin-right: 10%;
      // }

      // .glyphicon {
      //   width: 30px;
      //   height: 25px;
      //   vertical-align: middle;
      // }
      .icon > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
      }

      .icon > svg path {
        fill: $chalkboard;
      }
    }
  }
}
