#portfolio {
  padding: 3% 0;
  background-color: $oxblood;

  .header-text {
    color: $tan;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', sans-serif;
  }

  .card {
    text-align: center;
    color: white;

    img {
      max-width: 100%;
    }
  }
}