<div id="about">
  <div class="row">
    <div class="col-lg-4 image">
      <img src="https://storage.googleapis.com/john-hess/heady2.png" alt="">
    </div>
    <div class="col-lg-7 about-text">
      <p class="header-text">
        About
      </p>
      <p class="description">
        My name is John and I love skateboarding, coding, creating resources, and solving problems.  I learned to write well tested code so that I could provide a resource to help a community discover the world around it.  With this project more or less completed and facilitating discovery, I'm looking for my next challenge.  Talk to me, I will be passionate about solving your problems too.
      </p>
    </div>
  </div>
</div>