<div id="portfolio" >
  <p class="header-text">
    Portfolio
  </p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6 portfolio-item">
        <div class="card">
          <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/wcs.png" >
          <div class="card-block">
            <h4 class="card-title">West Coast Skateparks</h4>
            <p class="card-text">Comprehensive skatepark directory allowing users to add visits, track favorites, and leave ratings and reviews</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6 portfolio-item">
        <div class="card">
          <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/mt.png" >
          <div class="card-block">
            <h4 class="card-title">MusicTree</h4>
            <p class="card-text">Quick reference tool to recorded music enabling users to search and browse artist discographies</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6 portfolio-item">
        <div class="card">
          <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/rr.png" >
          <div class="card-block">
            <h4 class="card-title">RepoRanker</h4>
            <p class="card-text">Ranks GitHub repo contributors by number of contributions</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>