<div id="portfolio" >
  <p class="header-text">
    Portfolio
  </p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <a href="/portfolio/west-coast-skateparks">
          <div class="card">
              <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/wcs.png" >
              <div class="card-block">
                <p class="card-title">West Coast Skateparks</p>
                <p class="card-text">Comprehensive skatepark directory allowing users to add visits, track favorites, and leave ratings and reviews</p>
              </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <a href="/portfolio/music-tree">
          <div class="card">
            <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/mt.png" >
            <div class="card-block">
              <p class="card-title">MusicTree</p>
              <p class="card-text">Quick reference tool to recorded music enabling users to search and browse artist discographies</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6 third-port">
        <a href="/portfolio/music-tree">
          <div class="card">
            <img class="card-img-top" src="https://storage.googleapis.com/john-hess/portfolio/rr.png" >
            <div class="card-block">
              <p class="card-title">RepoRanker</p>
              <p class="card-text">Ranks GitHub repo contributors by number of contributions</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>