<div id="portfolio" >
  <div class="row">
    <div class="col-lg-6 about-text">
      <p class="header-text">
        Portfolio
      </p>
      <p class="description">
        Greetings! My name is John and I develop web applications. I take a holistic approach to development; my process is founded on communication, awareness of the user's experience, and understanding of the client's needs. I am humble, curious, methodical, and have boundless enthusiasm for learning and growth. I possess a wide range of skills that allow me to make an impact on any part of the stack. Please take a look at my work and get in touch if you want to talk!
      </p>
    </div>
  </div>
</div>