<div class="technologies">
  <div class="row">
    <p class="header-text">My Stack</p>
    <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1 tech-container wow fadeInLeft">
      <div class="tech-card">
        <img src="/assets/images/stack/ruby.png" alt="">
        <p>Ruby</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/javascript.png" alt="">
        <p>Javascript</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/rails.png" alt="">
        <p>Rails</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/rspec.png" alt="">
        <p>RSpec</p>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-0 tech-container between wow fadeInRight">
      <div class="tech-card">
        <img src="/assets/images/stack/postgres.png" alt="">
        <p>PostgreSQL</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/react.png" alt="">
        <p>React</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/angular.png" alt="">
        <p>AngularJS</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/node.png" alt="">
        <p>NodeJS</p>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1 tech-container wow fadeInLeft">
      <div class="tech-card">
        <img src="/assets/images/stack/jquery.png" alt="">
        <p>jQuery</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/express.jpg" alt="">
        <p>Express</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/css.svg" alt="">
        <p>CSS 3</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/sass.png" alt="">
        <p>Sass</p>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-0 tech-container between wow fadeInRight">
      <div class="tech-card">
        <img src="/assets/images/stack/html.png" alt="">
        <p>HTML 5</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/git.png" alt="">
        <p>Git</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/github.png" alt="">
        <p>Github</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/heroku.svg" alt="">
        <p>Heroku</p>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3 tech-container wow fadeInLeft">
      <div class="tech-card">
        <img src="/assets/images/stack/bootstrap.png" alt="">
        <p>Bootstrap</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/semantic.png" alt="">
        <p>Semantic UI</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/travis.png" alt="">
        <p>Travis CI</p>
      </div>
      <div class="tech-card">
        <img src="/assets/images/stack/climate.png" alt="">
        <p>Code Climate</p>
      </div>
    </div>
  </div>
</div>