---
layout: default
---



<div class="portfolio-container">
  <div class="container">
    <div class="header">
      <p>{{ page.title }}</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="image-rotator">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="portfolio-info">
          <p class="info-header">About</p>
        </div>
        <div class="portfolio-info">
          <p class="info-header">Goals</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="portfolio-info">
          <p class="info-header">Technology</p>
        </div>
        <div class="portfolio-info">
          <p class="info-header">Responsibilities</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 buttons">
      <a class="btn btn-primary" href="https://github.com/alookatommorow/{{ page.github }}">Github</a>
      <a class="btn btn-primary" href="{{ page.link }}">Link</a>
    </div>
    <ul>
      {% for item in page.items %}
        <li>
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

